<form method="post" action="{{ path('carrousel_delete', {'id': carrousel.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carrousel.id) }}">
    <button class="btn">Delete</button>
</form>
