{% extends 'base.html.twig' %}

{% block title %}New Carrousel{% endblock %}

{% block body %}
    <h1>Create new Carrousel</h1>

    {{ include('carrousel/_form.html.twig') }}

    <a href="{{ path('carrousel_index') }}">back to list</a>
{% endblock %}
